.card {
  width: 282px;
  height: 361px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  margin: 0;
  padding: 0;
}

.card__info {
  margin: auto 20px auto 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  width: 21px;
  height: 18px;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-icon {
  width: 21px;
  height: 18px;
}
