.gallery {
  margin-top: 51px;
  margin-bottom: 67px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
}

.gallery__card {
  width: 282px;
  height: 361px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.gallery__image {
  width: 282px;
  height: 282px;
  margin: 0;
  padding: 0;
}

.gallery__info {
  margin: auto 20px auto 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery__like-button {
  width: 21px;
  height: 18px;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.gallery__like-button:hover {
  opacity: 0.5;
}

.gallery__like-icon {
  width: 21px;
  height: 18px;
}

@media screen and (max-width: 480px) {
  /* .gallery {
    background-color: lightgreen;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 20px;
    column-gap: 0;
    align-items: center;
  }

  .gallery__card {
    margin: 0 auto;
  } */
}
