.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 0 19px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  margin: auto;
}

.modal__container_type_form {
  width: 430px;
  padding: 36px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}

.modal__container_type_image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__close-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/close_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.3s ease;
}

.modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__title {
  font-family: Inter, Arial, sans-serif;
  line-height: 1.2;
}

.modal__title_type_form {
  margin: 0 0 54px;
  font-size: 24px;
  font-weight: 900;
}

.modal__title_type_image {
  /* margin: 0 0 54px; */
  font-size: 12px;
  font-weight: 400;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
  margin: 0;
  padding: 0;
}

.modal__form {
  display: grid;
  gap: 30px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000;
  width: calc(100% - 20px);
  padding: 10px 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.modal__input_type_error {
  border-bottom-color: #f00;
  font-size: 12px;
  opacity: 0;
}

.modal__input-error_active {
  opacity: 1;
}

.modal__submit {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 18px;
  background-color: #000;
  color: #fff;
  padding: 15px 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  transition: opacity 0.3s ease;
}

.modal__submit:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__submit-inactive {
  opacity: 0.2;
  cursor: not-allowed;
}

.modal__submit-inactive:hover {
  opacity: 0.2;
  cursor: not-allowed;
}

@media screen and (max-width: 630px) {
  .modal {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .modal__container {
    width: 238px;
    padding: 22px;
  }

  .modal__close-button {
    bottom: calc(100% + 26px);
    left: calc(100% - 26px);
    width: 26px;
    height: 26px;
  }

  .modal__title {
    margin: 0 0 54px;
    font-size: 18px;
  }

  .modal__input {
    font-size: 14px;
  }

  .modal__submit {
    margin-top: 15px;
    padding: 14px 0;
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
  }
}
