.profile {
  padding: 42px 0 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 3%;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  align-items: center;
  gap: 7px 10px;
}

.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  text-wrap: nowrap;
}

.profile__subheading {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid #fff;
  background-color: #000;
  transition: opacity 0.3s ease;
}

.profile__edit-button:hover {
  opacity: 0.6;
  /* cursor: url(../images/pointer.svg), pointer; */
}

.profile__edit-icon {
  width: 7.5px;
  height: 7.5px;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  margin: auto 0 auto auto;
  border: 2px solid #fff;
  background-color: #000;
  transition: opacity 0.3s ease;
}

.profile__add-button:hover {
  opacity: 0.6;
  /* cursor: url(../images/pointer.svg), pointer; */
}

@media screen and (max-width: 780px) {
  .profile {
    flex-direction: column;
  }

  .profile__wrapper {
    flex-direction: column;
    row-gap: 30px;
  }

  .profile__info {
    gap: 14px 10px;
  }

  .profile__subheading {
    grid-column: span 2;
    text-align: center;
  }

  .profile__add-button {
    width: 282px;
    height: 50px;
    margin: 36px auto;
    border: 2px solid #fff;
    background-color: #000;
    transition: opacity 0.3s ease;
  }
}

@media screen and (max-width: 480px) {
  .profile__info {
    gap: 14px 10px;
  }

  .profile__name {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
  }

  .profile__subheading {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    width: 282px;
    height: 50px;
    margin: 36px auto 0;
  }
}
