.header {
  min-height: 74px;
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 930px) {
  .header {
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 635px) {
  .header {
    min-height: 56px;
    margin: 28px auto 0;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 19px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 28px 0 0;
    max-width: 100%;
  }
}
