@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/profile.css);
@import url(../blocks/gallery.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 480px) {
  .page {
    max-width: 98%;
  }

  .header {
    height: 56px;
    margin: 28px auto 0;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 19px;
  }

  .content {
    margin: 0 auto 48px;
  }

  .profile {
    background-color: pink;
    flex-direction: column;
  }

  .profile__avatar {
    width: 120px;
    height: 120px;
    margin: 42px auto 30px;
    border-radius: 50%;
  }

  .profile__info {
    gap: 14px 10px;
  }

  .profile__name {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
  }

  .profile__subheading {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    width: 282px;
    height: 50px;
    margin: 36px auto 0;
  }

  /* .gallery {
    background-color: lightgreen;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 20px;
    column-gap: 0;
    align-items: center;
  }

  .gallery__card {
    margin: 0 auto;
  } */

  .footer {
    margin: 0 19px 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
  }
}
